<div class="container">
    <h1 class="display-4 my-3">Ranking de Clientes</h1>
    <form [formGroup]="form">
        <div class="form-group">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <label for="startDate" class="form-label">Fecha desde</label>
                        <input type="date" class="form-control" id="startDate" formControlName="startDate"
                            [class.is-invalid]="
                            form.controls['startDate'].touched &&
                            form.controls['startDate'].errors " />
                        <span class="invalid-feedback">
                            Ingrese la fecha desde por favor.
                        </span>
                    </div>
                    <div class="col-md-5 col-12">
                        <label for="endDate" class="form-label">Fecha hasta</label>
                        <input [min]="form.controls['startDate'].value" type="date" class="form-control" id="endDate"
                            formControlName="endDate" [class.is-invalid]="
                            form.controls['endDate'].touched &&
                            form.controls['endDate'].errors " />
                        <span class="invalid-feedback">
                            Ingrese la fecha hasta por favor.
                        </span>
                    </div>
                    <div class="col-md-1 col-6">
                        <label class="form-label">-</label>
                        <button [disabled]="form.invalid" class="btn btn-primary form-control"
                            (click)="loadUsers()">Cargar</button>
                    </div>
                    <div class="col-md-1 col-6">
                        <label class="form-label">-</label>
                        <button class="btn btn-danger ms-2 form-control" [disabled]="!users || users.length < 1"
                            (click)="openPDF()"><i class="fa-solid fa-file-pdf"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center" *ngIf="(users.length < 1)">
        <h1 class="display-6 my-3">¡No hay resultados!</h1>
    </div>
    <table class="table text-center" *ngIf="users && users.length > 0" id="data-table">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Importe total de ventas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let i = index">
                <td class="text-end"><span><strong> # {{ i+1}}</strong></span></td>
                <td><span>{{ u.username }}</span></td>
                <td><span>{{ u.name }}</span></td>
                <td><span>{{ u.lastname }}</span></td>
                <td class="text-end"><span>{{ u.totalMoneySpent | currency: 'ARS'}}</span></td>
            </tr>
        </tbody>
    </table>
</div>