<div class="text-white fondo py-5">
    <div class="row">
        <div class="col-6 p-5">
            <div class="container p-5 text-end">
                <h1 class="display-1" style="font-size: 8rem;">
                    Textil App
                </h1>
                <p class="display-5 py-5">Somos Distribuidores para todo el país de las marcas líderes tanto en ropa
                    blanca como en telas.</p>
            </div>
        </div>
        <div class="col-6 p-5">

            <div class="container bg-light text-dark login-form border border-secondary rounded my-5 mx-5">
                <div class="py-5 px-5">
                    <h3 class="mb-5">Iniciar Sesión</h3>
                    <form [formGroup]="form">
                        <div class="mb-5">
                            <label for="inputUser" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="inputUser" formControlName="username"
                                [class.is-invalid]="form.controls['username'].hasError('required') && form.controls['username'].touched" />
                            <p *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
                                class="invalid-feedback">Debe ingresar un nombre de usuario</p>
                        </div>
                        <div class="mb-5">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword"
                                formControlName="password"
                                [class.is-invalid]="form.controls['password'].hasError('required') && form.controls['password'].touched" />
                            <p *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                class="invalid-feedback">Debe ingresar una contraseña</p>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                                (click)="login()">Iniciar Sesión</button>
                            <button type="button" class="btn btn-secondary ms-3" (click)="return()">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>