<div class="d-flex">
    <div class="row container-fluid p-0 justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="d-flex flex-shrink-0 p-3 sidebar-body flex-column">
                <p class="d-flex align-items-center ps-3 pb-1 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">CATEGORÍAS</span>
                </p>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button (click)="changeSubcategory(0)" class="btn btn-all align-items-center rounded">
                            Todos los productos
                        </button>
                    </li>
                    <li class="mb-1" *ngFor="let category of categories">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            attr.data-bs-target="#home-collapse{{category.id}}" aria-expanded="false">
                            {{category.name}}
                        </button>
                        <div class="collapse" [id]="'home-collapse'+category.id">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li *ngFor="let subCategory of category.subCategories"><a class="link-dark rounded"
                                        (click)="changeSubcategory(subCategory.id)">{{subCategory.name}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p
                    class="d-flex align-items-center ps-3 py-1 my-3 link-dark text-decoration-none border-bottom border-top">
                    <span class="fs-5 fw-semibold">FILTROS</span>
                </p>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1" *ngIf="brands">
                        <form [formGroup]="brandForm">

                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="false">
                                Marca
                            </button>
                            <div *ngIf="brands" class="collapse" id="brand-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="my-2" *ngFor="let brand of brands">
                                        <input class="form-check-input ms-4" type="checkbox" [value]="brand.id"
                                            [id]="'checkBrand' + brand.id" [formControlName]="brand.id">
                                        <label class="form-check-label ms-2" [for]="'checkBrand' + brand.id">
                                            {{brand.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </li>
                    <li class="mb-1" *ngIf="units">
                        <form [formGroup]="unitForm">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#unit-collapse" aria-expanded="false">
                                Unidad
                            </button>
                            <div class="collapse" id="unit-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="my-2" *ngFor="let unit of units">
                                        <input (click)="addQueryParams()" class="form-check-input ms-4" type="checkbox"
                                            [value]="unit.id" [id]="'checkUnit' + unit.id" [formControlName]="unit.id">
                                        <label class="form-check-label ms-2" [for]="'checkUnit' + unit.id">
                                            {{unit.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </li>
                    <li class="mb-1" *ngIf="colors">
                        <form [formGroup]="colorForm">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#color-collapse" aria-expanded="false">
                                Color
                            </button>
                            <div class="collapse" id="color-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="my-2" *ngFor="let color of colors">
                                        <input (click)="addQueryParams()" class="form-check-input ms-4" type="checkbox"
                                            [value]="color.id" [id]="'checkColor' + color.id"
                                            [formControlName]="color.id">
                                        <label class="form-check-label ms-2" [for]="'checkColor' + color.id">
                                            {{color.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>