<div class="d-flex">
    <div class="row container-fluid p-0 justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="d-flex flex-shrink-0 p-3 sidebar-body flex-column">
                <p class="d-flex align-items-center ps-3 pb-1 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">ABM</span>
                </p>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse-order" aria-expanded="false">
                            Pedidos
                        </button>
                        <div class="collapse" id="home-collapse-order">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="order/pending">Pedidos Pendientes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse-product" aria-expanded="false">
                            Productos
                        </button>
                        <div class="collapse" id="home-collapse-product">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="product/register">Registrar Producto</a>
                                </li>
                                <li><a class="link-dark rounded" routerLink="product/list">Listado de Productos</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse-stock" aria-expanded="false">
                            Stock
                        </button>
                        <div class="collapse" id="home-collapse-stock">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="stock/list">Movimientos de
                                        stock</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse-brand" aria-expanded="false">
                            Marcas
                        </button>
                        <div class="collapse" id="home-collapse-brand">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="brand">Administrar marcas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse-user" aria-expanded="false">
                            Usuarios
                        </button>
                        <div class="collapse" id="home-collapse-user">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="user/list">Listado de usuarios</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p
                    class="d-flex align-items-center ps-3 py-1 my-3 link-dark text-decoration-none border-bottom border-top">
                    <span class="fs-5 fw-semibold">REPORTES</span>
                </p>
                <ul class="list-unstyled ps-0">
                    <li><a class="rounded  btn btn-title text-decoration-none" routerLink="user/ranking">Ranking de
                            usuarios</a>
                    </li>
                    <li><a class="rounded btn btn-title text-decoration-none"
                            routerLink="totalEarningsPerMonth">Ganancias
                            por
                            mes</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6 content">
            <router-outlet class="content m-0"></router-outlet>
        </div>
    </div>

</div>