<div class="d-flex">
    <div class="row container-fluid p-0 justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="d-flex flex-shrink-0 p-3 sidebar-body flex-column">
                <p class="d-flex align-items-center ps-3 pb-1 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">ABM</span>
                </p>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse1" aria-expanded="false">
                            Productos
                        </button>
                        <div class="collapse" id="home-collapse1">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="link-dark rounded" routerLink="product/register">Registrar Producto</a>
                                </li>
                                <li><a class="link-dark rounded" routerLink="product/list">Listado de Productos</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p
                    class="d-flex align-items-center ps-3 py-1 my-3 link-dark text-decoration-none border-bottom border-top">
                    <span class="fs-5 fw-semibold">REPORTES</span>
                </p>
            </div>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6 content">
            <router-outlet class="content m-0"></router-outlet>
        </div>
    </div>

</div>