<div class="text-center text-white fondo py-5">
    <div class="container p-5 text-center">
        <h1 class="display-1" style="font-size: 11rem;">
            Textil App
        </h1>
        <p class="display-5 py-5">Somos Distribuidores para todo el país de las marcas líderes tanto en ropa blanca como en telas.</p>
    </div>
</div>

<div id="contactos" class="bottom bg-dark text-light">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-4">
                <p class="text-secondary">Facebook</p>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Instagram</p>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Twitter</p>
            </div>
        </div>
    </div>
</div>