<div class="fondo">
    <div id="main" class="container mt-5 border border-secondary rounded bg-white payments-card text-center">
        <div class="py-5 px-5">
            <h3 class="mb-5 text-start">Cambiar contraseña</h3>
            <form [formGroup]="form">
                <div class="mb-5 text-start">
                    <label for="inputOldPassword" class="form-label">Contraseña anterior</label>
                    <input type="password" class="form-control" id="inputOldPassword" formControlName="oldPassword"
                        [class.is-invalid]="form.controls['oldPassword'].errors && form.controls['oldPassword'].touched" />
                    <span class="invalid-feedback">Debe ingresar un nombre de usuario</span>
                </div>
                <div class="mb-5 text-start">
                    <label for="inputNewPassword" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" id="inputNewPassword" formControlName="newPassword"
                        [class.is-invalid]="form.controls['newPassword'].errors && form.controls['newPassword'].touched" />
                    <span class="invalid-feedback">Debe ingresar una contraseña</span>
                </div>
                <div class="mb-5 text-start">
                    <label for="inputPassword" class="form-label">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="repeatPassword"
                        [class.is-invalid]="form.controls['repeatPassword'].errors && form.controls['repeatPassword'].touched" />
                    <span class="invalid-feedback">Debe ingresar una contraseña</span>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                        (click)="changePassword()">Actualizar
                        Contraseña</button>
                    <button type="button" class="btn btn-secondary ms-3" routerLink="/my-account">Volver</button>
                </div>
            </form>
        </div>

    </div>
</div>