.fondo {
    background-image: url("../../../assets/img/bg-min.png");
    background-size: fill;
    background-repeat: repeat;
    background-position: center;
    background-color: rgb(0, 4, 111);
    min-height: 94vh;
    overflow: hidden;
}

.main-card {
    max-width: 1200px;
    min-height: 82vh;
}

p {
    text-align: justify;
}