td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
