<div class="container-fluid" style="max-width: 1800px;">
    <h1 class="display-4 my-3">Listado Productos</h1>
    <form [formGroup]="nameForm">
        <div class=" row mb-3">
            <div class="col-3">
                <label for="nameInput" class="form-label">Filtrar por nombre:</label>
                <input type="text" class="form-control" id="nameInput" formControlName="name"
                    [class.is-invalid]="nameForm.controls['name'].errors && nameForm.controls['name'].touched" />
                <span class="invalid-feedback">
                </span>
            </div>
        </div>
    </form>
    <div class="text-center" *ngIf="!products || !(products.length > 0)">
        <h1 class="display-6 my-3">¡No hay resultados!</h1>
    </div>
    <table class="table text-center" *ngIf="products && products.length > 0">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Stock</th>
                <th scope="col">Medidas</th>
                <th scope="col">Imagen</th>
                <th scope="col">¿Esta listado?</th>
                <th scope="col">Marca</th>
                <th scope="col">Unidad</th>
                <th scope="col">Color</th>
                <th scope="col">Categoría</th>
                <th scope="col">Sub Categoría</th>
                <th scope="col" colspan="3">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td><span>{{ p.name }}</span></td>
                <td><span>{{ p.description }}</span></td>
                <td class="text-end"><span>{{ p.pricePerUnit | currency: 'ARS'}}</span></td>
                <td><span>{{ p.observations? p.observations : '-' }}</span></td>
                <td class="text-end"><span>{{ p.stock}}</span></td>
                <td><span>{{ p.measurment }}</span></td>
                <td><img style="object-fit: cover; height: 100px; width: 100px;" (error)="onImgError($event)"
                        [src]="p.image" alt="">
                </td>
                <td><span>{{ !p.isListed? 'NO' : 'SI'}}</span></td>
                <td><span>{{p.brand.name}}</span></td>
                <td><span>{{p.unit.name}}</span></td>
                <td><span>{{p.color.name}}</span></td>
                <td><span>{{p.subCategory.category.name}}</span></td>
                <td><span>{{p.subCategory.name}}</span></td>
                <td>
                    <a [routerLink]="['/management/product/update/',p.id]" routerLinkActive="active"
                        title="Modificar producto">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a *ngIf="p.isListed" (click)="unlist(p.id)" title="No listar producto">
                        <i style="cursor: pointer;" class="fa-solid fa-eye-slash text-secondary"></i>
                    </a>
                    <a *ngIf="!p.isListed" (click)="list(p.id)" title="Listar Producto">
                        <i style="cursor: pointer;" class="fa-solid fa-eye text-secondary"></i>
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/management/stock/list/',p.id]" title="Movimientos de stock">
                        <i style="cursor: pointer;" class="fa-solid fa-box text-success"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>